/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');



*{
    margin:0;
    padding:0;

}
/* header css */
.header{
    height:120px;
    width:100%;
    /* background-color:gray; */
     display:flex;
     justify-content:center;  /*to give this property,the parent must have display:flex*/
     /*justify content only works when we have extra free space */

     position:fixed; /* Q1. this one is for the background image and the header hiddes (70px of the height) of the banner image. but for now it looks good. other wise we can make it lttle down for the image as the header is on the top of the banner images.
     to make it more look good, I will update the header height to 100px; no need to updated bannder height fpor now*/
     color:white;  /*for the purpose of Q1.*/
     background-color:rgba(0, 0,0, 0.4) ; /*for transparency*/
     
}

/* Resuable element css */
/* --this wont have height as it will get the height of its child. and this is applied to all child,
so we consider it as a global property. this wont change and apply again and again */
.container{
    width:90%;
    display:flex;
    /* background-color:pink; */
    /* height:80px; height:90px; */
 
}
/* --------------- */

/* reusuable css */
    .btn{
        padding-left:30px;
        padding-right:30px;
        padding-top:15px;
        padding-bottom:15px;
        font-size:18px;
        background-color:lightskyblue;
        border-radius: 10px;;
        text-transform:uppercase;
        font-family:'Times New Roman', Times, serif;
        font-weight: bold;
        border:none;
        color:white;
        transition:0.4s;
        
    }

    /* ---------- */

    .btn:hover{
       background-color:tomato;
       cursor:pointer;
    }

.logo{
    height:120px;
    width:20%;
    /* background-color:yellow;  */
     font-size:30px;
    text-align:center;
    line-height:50px; 
  font-family: 'Poppins', sans-serif;
    font-weight:bold;
       color:white;
       transition:0.5s;
       cursor:pointer;
 
}

.logo:hover{
    transform:scale(1.2);
       color:rgb(165, 11, 11);
       
 

}

.nav{
    height:120px;
    width:40%;
    /* background-color:cornflowerblue; */
    line-height:100px;   /*for the purpose of java #2 */
    
}

.header_container{
    justify-content:space-between; /*in order to move the nav(blue) to the end of the pink side (container) we should use this property at the partent of it */
}

.nav>ul{
display:flex;
}

.nav>ul>li{
font-weight:bold;
 list-style-type: none; /*removes the dots */
 width:20%;
 height:120px; 
 text-transform: uppercase ;
 line-height:70px;
 text-align:center;
font-family: 'Poppins', sans-serif;
transition:0.4s;  /*this helps when we give hover to the element */


}


.nav>ul>li:hover{
color:rgb(235, 37, 37);
    cursor:pointer;
    transform:scale(1.2);
}


/* the drop down list for each all */
   .dropdown>li {
           background-color:rgb(209, 199, 199); 
            list-style-type: none;
            /*means it will remove all the dots from the dropdown lists */
            width: 100%;
            /* the same as its parent Service */
            cursor: pointer;
            
        }
        
        .dropdown {
            width: 100%;
            position: absolute;
            overflow: hidden;
            height: 0px; 
            transition: 0.8s;
            box-shadow: 0 0 6px black;
            border-radius: 10px;
            font-size:10px;
         
        }
        
        .dropdown>li:hover {
            color: white;
            background-color: #4158da;
            cursor: pointer;
            
        }
        
        .menu {
            position: relative;
            
        }
     .menu:hover>.dropdown {
     height: 600px;}
     
     
/*------------------- */

/* banner css */
.banner{
display:flex;
align-items:center;
    height:700px; 
    width:100%;
   
    
    /* background-color:khaki; */
    background-image:url(./images/background_image.png);
    background-size:cover; /*this makes the background image rescale based ont eh container's size */

   background-position: 0 -100px;/*help to move the imgae to up/down/center (x,y)and -is means getting down */

   background-repeat:no-repeat; /*background image donesnt tile*/

   background-attachment:fixed; /*Background image is fixed inth4e viewport so that it doesn't move when the content's height is greater thatn the images height   */
   /* background-position:center center; */



   
}
    .banner_details{
        height:200px;
        width:30%;
       /* background-color: rgba(255,255,255,0.5); */  /* for white */
       background-color:rgba(19, 19, 18, 0.3);
        margin-left:3%;
        display:flex;
        align-items:center;
        border-radius:10%;
       
        
    }

    .padd{
        padding:20px;
    }

    .banner_details h1{
        text-align:center;
     font-family:'Times New Roman', Times, serif;
         margin-bottom:30px;
         /* font-size:35px; */
         color:rgb(235, 225, 225);
         /* color:black; */
    }

    /* sabasxeipt */
.banner_btn{
     font-family:'Times New Roman', Times, serif;
     padding-top:10px;
     padding-bottom:10px;
     margin-top:20px;
     font-size:20px;
}



/* Reusable css */
    .services{
        /* i didnt give height, as i want to take the height of the child */
padding-top:50px;
padding-bottom:50px;
width:100%;
/* background-color:violet; */
display:flex;
flex-direction:column;
align-items:center;  /*meaning the containers and the h1 will be all at the center */

    }
/* ------ */
.section_title{
    font-size:35px;
    font-family: 'Poppins', sans-serif;
       color:rgb(83, 38, 38);

   
}

.services1{
    height:500px;
    width:22%;
    /* background-color:green; */
    margin-top:20px;
    margin-left:calc(12%/5);  /*cuz (22*4=88, 100-88=12) */
    background-size:cover;
    display:flex;
    align-items:flex-end; /*this help me to place transparnt at the bottom downfor the calss .name */
   cursor:pointer;
   border:3px solid gray;
  
}

.services_container{
  margin-top:30px; /*to move down container block we create under services1 */
flex-wrap:wrap; /*cuz at the conatiner level they are display:flex, allshrink togther. that why we must send some of them down but still they are shrink no gap among them */

}

.services1:nth-child(1){
    background-image:url("https://images.pexels.com/photos/7180801/pexels-photo-7180801.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.services1:nth-child(2){
    background-image:url("https://images.pexels.com/photos/2340876/pexels-photo-2340876.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.services1:nth-child(3){
    background-image:url("https://images.pexels.com/photos/3770317/pexels-photo-3770317.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.services1:nth-child(4){
    background-image:url("https://images.pexels.com/photos/3228502/pexels-photo-3228502.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.services1:nth-child(5){
    background-image:url("https://images.pexels.com/photos/3204088/pexels-photo-3204088.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.services1:nth-child(6){
    background-image:url("https://images.pexels.com/photos/2332083/pexels-photo-2332083.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.services1:nth-child(7){
    background-image:url("https://images.pexels.com/photos/5184427/pexels-photo-5184427.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.services1:nth-child(8){
    background-image:url("https://images.pexels.com/photos/6625972/pexels-photo-6625972.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.name{
height:200px;
width:100%;
background-color:rgba(0,0,0,.4);
font-family: 'Poppins', sans-serif;
font-size:30px;
font-weight:400px;
color:white;
text-indent:20px ;
transition:0.5s;


}

/* Lets hover to a parent(services1) but it will work on the child (.name) */

.services1:hover >.name{
    height:100%;
    border:7px solid rgb(228, 169, 169); /*once we hover on the img, it will have a border with given color */

}

/*-----packages css -----*/
.packages{
    /* no height is given at sicne it will take the height of the child */

    width:100%;
    padding-top:50px;
    padding-bottom:50px;
    background-color:rgb(209, 199, 199);
    display:flex;
    flex-direction: column;
    align-items:center; 
}


.packages1{
    height:500px;
    width:22%;
    background-color:white;
    margin-top:20px;
    margin-left:calc(12%/5);
    display:flex;
    align-items:center;
      border:3px solid gray;
     

}

.packages_container{
     margin-top:30px; /* the same as .services_container*/
     flex-wrap:wrap;
}

.pack_title{
    font-size:50px;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    margin-bottom:15px;
    color:rgb(83, 38, 38);
  
    
}

.pack_desc{
     font-family: 'Poppins', sans-serif;
       margin-bottom:15px;

}

.pack_duration, .pack_price{
     font-family: 'Poppins', sans-serif;
     margin-bottom:15px; 
     font-size:20px;


}


.pack_btn{
     font-family:'Times New Roman', Times, serif;
     padding-top:10px;
     padding-bottom:10px;
     margin-top:20px;
   
}

/* --Sample CSS */

.samples{
width:100%;
display:flex;
flex-wrap:wrap;

}

.sample1{
    width:20%;
    height:400px;
    /* background-color:blue; */
    background-size:cover;
    cursor:pointer;
    background-position:center;

}
/* this class will make the effect on the  image a little  bit darker coverd */
.sample_overlay{
    width:100%;
    height:400px;
 background-color:rgba(0,0,0,0.2);    
     transition:0.5s;
     
    


}

/* once we hover it will become clear and looks nices . this is the same like hover but better */
.sample_overlay:hover{
   background-color:rgba(0,0,0,0);
   transform:scale(0.7);
   cursor:pointer;


}




.sample1:nth-child(1){
    background-image:url("https://images.pexels.com/photos/2552126/pexels-photo-2552126.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");

    

}

.sample1:nth-child(2){
     background-image:url("https://images.pexels.com/photos/3683995/pexels-photo-3683995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.sample1:nth-child(3){
     background-image:url("https://images.pexels.com/photos/357783/pexels-photo-357783.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.sample1:nth-child(4){
     background-image:url("https://images.pexels.com/photos/5390337/pexels-photo-5390337.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.sample1:nth-child(5){
     background-image:url("https://images.pexels.com/photos/2456327/pexels-photo-2456327.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.sample1:nth-child(6){
     background-image:url("https://images.pexels.com/photos/5775062/pexels-photo-5775062.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}

.sample1:nth-child(7){
     background-image:url("https://images.pexels.com/photos/7942466/pexels-photo-7942466.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}


.sample1:nth-child(8){
     background-image:url("https://images.pexels.com/photos/1857157/pexels-photo-1857157.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}



.sample1:nth-child(9){
     background-image:url("https://images.pexels.com/photos/373977/pexels-photo-373977.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.sample1:nth-child(10){
     background-image:url("https://media.istockphoto.com/photos/christmas-lifestyle-theme-happy-asian-family-decorating-christmas-picture-id1266204037?k=6&m=1266204037&s=612x612&w=0&h=IJkfqSlB9UIwC2qtbOYpP1IFPgJ8FgcO333nsBPJyBA=");
}

/* About css */

.about{
    width:100%;
    background-color:rgb(245, 244, 242);
    padding-top:50px;
    padding-bottom:50px;
    flex-direction: column;
    align-items:center;
    display:flex;
    color:rgb(83, 38, 38);
    
}

.about_container{
    font-size:20px;
    font-family:'Times New Roman', Times, serif;

    margin-top:30px;
    line-height: 40px;
    display:inline;
}

.highlight{
 font-family:'Times New Roman', Times, serif;
 font-weight:bold;
 font-size:40px;
}

/* Footer css */

.footer{
padding-top:50px;
padding-bottom:50px;
background-color:rgb(209, 199, 199);
/*background-color:blue;  /*I use this one for the java one only to see the changes on the color */

 display:flex;
 justify-content:center;
}

.footer_container{
    justify-content:space-between;

}

.footer_child{
    height:300px;
    width:30%;
    /* background-color:red; */
    color:rgb(83, 38, 38);
    font-family:'Times New Roman', Times, serif
       

}

/* I want to apply the logo property for the font style to the 1st child of the footer */

.footer_child:nth-child(1) {
    font-size:30px; 
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
  
    
}

.footer_child:nth-child(1) img{
    margin-top:10px;

}

.img1 {
    width:150px;
    display:block;
    margin-left:120px;
    margin-top:20px;
    
}

.footer_child:nth-child(2) p{
    margin-top:20px;
    font-size:20px;
    font-weight:bold;
    


}

.footer_child:nth-child(2) img{
    width:250px;
    margin-top:10px;

}

.copyright{
    text-align:center;
    font-size:30px;
    color:black;
    font-weight:bold;

}


@media screen and (min-width:480px) and (max-width:800px){
        
    .services1, .packages1, .sample1 {
        width:100%;
        margin-top: 20px;
         margin-left: 10%;
        margin-right: 10%;
    }

    .footer_container,.info1,.info2,.info3{
         width:100%;
        margin-top:20px;
         margin-left: 10%;
        margin-right: 10%;
        margin-bottom:20px;
        display:block;
        justify-content:space-evenly;
       
        position:absolute;
        /* padding-left:5px; */
        padding-right:30px;
      
       

    }

    .footer_container .section_title{
        text-align:left;
    }
    .copyright{
        display:block;
        margin-top:800px;
       
    }

   .banner_details{
        width:100%;
    }
/* @media query for the background image */
.banner{
    background-image:url(./images/background_image.png);
    background-size:cover;
    width:100%;
    background-position:center center;

}


    .nav ul li{
        display:block;
        width:100%;

    }

    .section_title{
        text-align: center;
    }

        
}


